<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title  sec:authentication="name">useList</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-3.3.7/dist/css/bootstrap.css}"/>
    <script th:src="@{/plugins/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js}"></script>
    <script src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
</head>
<body class="container">
    <h1>用户列表</h1>
    <br/><br/>
    <!-- 添加用户 -->
    <div class="form-group">
        <div class="col-sm-2 control-label">
            <a href="#"  class="btn btn-info" th:onclick="'javascript:addUser();'">add</a>
        </div>
    </div>

    <div class="with:80%">
        <!-- 用户列表 -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Age</th>
                    <th>status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user,userStat:${userPage.content}">
                    <td th:scope="row" th:text="${userStat.index+1}">1</td>
                    <td th:text="${user.username}">张三</td>
                    <td th:text="${user.password}">666666</td>
                    <td th:text="${user.type}">管理员</td>
                    <td th:text="${user.status == 0 ? '停用' : '启用'}">是/否启用</td>
                    <td><a href="javascript:void(0)" th:onclick="'javascript:editUser('+${user.id}+')'"   data-toggle="modal">edit</a></td>
                    <td><a th:href="@{/delete(id=${user.id})}">delete</a></td>
                </tr>
            </tbody>
        </table>

        <!-- 分页 -->
        <ul class="pagination" style="text-align:center">
            <!-- 第一页-->
            <li>
                <a href="?page=1"  class="">第一页</a>
            </li>

            <!--上一页-->
            <li th:if="${userPage.number > 0 }">
                <a th:href="@{?(page=${userPage.number})}">上一页</a>
            </li>

            <!--迭代生成页数-->
            <li th:each="i:${#numbers.sequence(1,userPage.totalPages)}" th:classappend="${(userPage.number + 1) eq i} ? 'active' : ''">
                <a th:href="@{?(page=${i})}" th:text="${i}" class="">1</a>
            </li>

            <!--下一页-->
            <li th:unless="${userPage.number + 1 == userPage.totalPages}">
                <a th:href="@{?(page=${userPage.number} + 2)}">下一页</a>
            </li>

            <!--最末页-->
            <li>
                <a th:href="@{?(page = ${userPage.totalPages})}">最末页</a>
            </li>
        </ul>

    </div>


    <script>
        //编辑用户
        function editUser(id)
        {
            layer.open({
                type: 2     //type的值可以为：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                ,skin: 'layui-layer-rim'
                ,title:'修改用户'
                ,area:['870px','330px']
                ,offset: 'auto' //具体配置参考：offset参数项
                ,content: "/toModify?id="+id
                ,shade: 0.4 //不显示遮罩
            });
        }


        //添加用户
        /* 使用直接调用静态页面的形式调用html（将资源文件路径下的templates文件夹设置为可访问静态路径）*/
        function addUser()
        {
            layer.open({
                type: 2
                ,skin: 'layui-layer-rim'
                ,title:'添加用户'
                ,area:['800px','330px']
                ,offset: 'auto' //具体配置参考：offset参数项
                ,content: 'userAdd.html'
                ,shade: 0.4 //不显示遮罩
                ,end: function () {
                    window.location.reload();   //刷新父页面
                }
            });
        }

    </script>

</body>
</html>