<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script  src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script  src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js" ></script>
    <script src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
    <style>
        .form-inline label{ justify-content: right; }
    </style>
</head>
<body class="container">
    <div id="userData" class="panel panel-default ">
        <form class="form-horizontal" id="user_form" role="form" action="/add" method="post"  th:object="${user}" >

            <input th:field="*{id}" hidden="hidden">

            <div class="form-group form-inline">
                <div  class="col-sm-3 form-label ">
                    <label for="username">用户名：</label>
                </div>
                <input type="text" class="col-sm-8 form-control" id="username" name="username" th:field="*{username}" placeholder="请输入名称">
            </div>

            <div class="form-group form-inline">
                <div  class="col-sm-3 form-label text-right">
                    <label for="password">密码：</label>
                </div>
                <input type="text" class="col-sm-8 form-control" id="password" name="password" th:field="*{password}" placeholder="请输入密码">
            </div>

            <div class="form-group form-inline">
                <div  class="col-sm-3 form-label ">
                    <label for="type" class="text-right">用户类型：</label>
                </div>
                <select type="text" class="col-sm-8 form-control" id="type" name="type" th:field="*{type}" placeholder="请输入用户类型">
                    <option value="管理员">管理员</option>
                    <option value="业务员">业务员</option>
                    <option value="超级管理员">超级管理员</option>
                </select>
            </div>

            <div class="form-group form-inline">
                <div  class="col-sm-3 form-label text-right">
                    <label for="status">状态：</label>
                </div>
                <select type="text" class="col-sm-8 form-control" id="status" name="status" th:field="*{status}" placeholder="请输入用户类型">
                    <option value="1">启用</option>
                    <option value="0">停用</option>
                </select>
            </div>

            <div class="col-sm-2 float-right">
                <div class="">
                <p type="button" class="btn btn-primary " id="btn_save" >提交</p>
                </div>
            </div>

        </form>

    </div>

    <script>
        $("#btn_save").click(function () {
            var url = $("#user_form").attr("action");
            var param = $("#user_form").serialize();
            $.ajax({
                type: "post",
                url: url,
                data: param,
                complete: function () {
                    parent.window.location.reload();
                    // parent.layer.closeAll();
                    console.log("hjsdhsjdhj");

                }
            })
        })

    </script>

</body>
</html>