<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script  src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script  src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js" ></script>
    <script src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
    <style>
        .form-inline label{
            justify-content: right;
        }
    </style>
</head>
<body class="container">
    <div class="panel panel-default ">
        <form class="form-horizontal" id="user_form" role="form" action="/add" method="post"  th:object="${user}" >

            <div class="form-group form-inline">
                <div  class="col-sm-3 form-label ">
                    <label for="username">用户名：</label>
                </div>
                <input type="text" class="col-sm-8 form-control" id="username" name="username" placeholder="请输入名称">
            </div>

            <div class="form-group form-inline">
                <div  class="col-sm-3 form-label text-right">
                    <label for="password">密码：</label>
                </div>
                <input type="text" class="col-sm-8 form-control" id="password"  name="password" placeholder="请输入密码">
            </div>

            <div class="form-group form-inline">
                <div  class="col-sm-3 form-label ">
                    <label for="type" class="text-right">用户类型：</label>
                </div>
                <select type="text" class="col-sm-8 form-control" id="type" name="type" placeholder="请输入用户类型">
                    <option value="管理员">管理员</option>
                    <option value="业务员">业务员</option>
                    <option value="超级管理员">超级管理员</option>
                </select>
            </div>

            <div class="form-group form-inline">
                <div  class="col-sm-3 form-label text-right">
                    <label for="status">状态：</label>
                </div>
                <select type="text" class="col-sm-8 form-control" id="status" name="status" placeholder="请输入用户类型">
                    <option value="1">启用</option>
                    <option value="0">停用</option>
                </select>
            </div>

            <div class="col-sm-2 float-right">
                <div class="">
                <p type="button" class="btn btn-primary " id="btn_save" >提交</p>
                </div>
            </div>

        </form>

    </div>

    <script>
        var index = parent.layer.getFrameIndex(window.name);    //获取当前窗口索引
        $("#btn_save").click(function () {
            var url = $("#user_form").attr("action");
            var param = $("#user_form").serialize();
            $.ajax({
                type: "post",
                url: url,
                data: param,
                complete: function () {
                    parent.layer.closeAll("iframe");
                    console.log("hjsdhsjdhj");

                }
            })
        })
        // $("#user_form").on('submit',function () {
        //     alert();
        //     $.ajax({
        //        type: "post",
        //        url: "/add",
        //        data : $("#user_form").serialize(),
        //        success: function (result) {
        //            layer.close(layer.index);;
        //            window.parent.lacation.reload();
        //        }
        //     });
        // })

    </script>

</body>
</html>